<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Virtual Downloader</title>

    <link rel="stylesheet" href="https://static.staticsave.com/vendors/style.css">


</head>

<body>

    <nav class="df r sa ca">
        <a class=" un" href="#">

            <h1 class="lg">Virtual Downloader</h1>
        </a>
        <a class="bb asd " href="#">How To Download ?</a>
    </nav>

    <div id="form" class="df col sa ca">
        <div class="clrbd">

            <input type="text" id="postUrlInputIg" class="inp" placeholder="Enter Instagram Post, Reel, IGTV URL">
        </div>
        <span id="error" ></span>
        <button id="downloadButtonig" class="btns df jc ac">Download <svg width="64px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="download"> <g> <path d="M3,12.3v7a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2v-7" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> <g> <polyline data-name="Right" fill="none" id="Right-2" points="7.9 12.3 12 16.3 16.1 12.3" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="2.7" y2="14.2"></line> </g> </g> </g> </g> </g></svg></button>
        <div class="infb">
            <div class="df r ca nor">Download Instagram </div>
            <div class="df r ca sa wp inf2">

                <span class="rs"> Reels |</span>
                <span class="vs"> Videos |</span>
                <span class="is"> Images |</span>
                <!-- <span class="rs"> Stories |</span> -->
                <span class="vs"> IGTV</span>
            </div>

        </div>


    </div>
    <div class="df c ca jc " style="width: 100%;">
        <section id="content">

            <div class="loader" id="loader"></div>
        </section>

    </div>
    <div class="df jc ac red">
        <a id="ref" class="df jc ac" href="https://virtualdownloader.vercel.app/homepage"  >
            Download Another <svg width="64px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="download"> <g> <path d="M3,12.3v7a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2v-7" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> <g> <polyline data-name="Right" fill="none" id="Right-2" points="7.9 12.3 12 16.3 16.1 12.3" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="2.7" y2="14.2"></line> </g> </g> </g> </g> </g></svg>
        </a>
    </div>

    <script src="https://static.staticsave.com/vendors/js.js"></script>


</body>

</html>