<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Virtual Downloader</title>

    <link rel="stylesheet" href="https://static.staticsave.com/vendors/style.css">
    
</head>

<body>

    <nav class="df r sa ca">
        <a class=" un" href="#">

            <h1 class="lg">Virtual Downloader</h1>
        </a>
        <a class="bb asd " href="#">How To Download ?</a>
    </nav>

    <div id="form" class="df col sa ca">
        <div class="clrbd">

            <input type="text" id="postUrlInputIg" class="inp"
                placeholder="Enter Instagram Post, Reel, IGTV URL">
        </div>
        <button id="downloadButtonig" class="btns">Download</button>
        <div class="infb">
            <div class="df r ca nor">Download Instagram </div>
            <div class="df r ca sa wp inf2">

                <span class="rs"> Reels |</span>
                <span class="vs"> Videos |</span>
                <span class="is"> Images |</span>
                <!-- <span class="rs"> Stories |</span> -->
                <span class="vs"> IGTV</span>
            </div>

        </div>


    </div>
    <div class="df c ca jc " style="width: 100%;">
    <section id="content">

        <div class="loader" id="loader"></div>
    </section>

</div>

<script src="https://static.staticsave.com/vendors/js.js"></script>

</body>

</html>